* {
   background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvxDxDvsX8j636VYiQ_jrv4us0KYmRbbxSGS_ci58J464zw5Q8HlFIuw10nGsPF7Yu7IE&usqp=CAU'); 
   font-family: Verdana;
} 



body h4 {
    color: green;
}

h4 {
    color: red;
}

.test {
    opacity: 0.9;
}
#css-result {
    background:(khaki) no-repeat;
    width: 256px;
    height: 32px;
    background-size: 80%;
    border: dashed;
  }


