body {
	background: #bebbbb;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #55f00c;
	display: table;
	width: 100%;
}

nav li {
	display: table-cell
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 30px 30px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

h2 a {
	padding: 33px 25px;
	color: white;
	text-decoration: none;
}

h2 a:hover {
	background-color: #197f54;
}

figcaption{
  text-align:left;
}

header {
	margin-left: 14px;
}

article {
	text-align: left;
	margin: 15px;
	max-width: 80%;
	font-size: 18px;
	line-height: 32px;
}

img {
	width: 650px;
	height: 650px;
  position:relative;
  right:28px;
}

aside {
	left: 10px;
	border: 1px solid black;
	padding: 15px;
	max-width: 80%;
	position: relative;
	border-color: #4b0882;
	border-width: 5px;
	font-size: 18px;
}

footer {
	position: relative;
	width: 100%;
	bottom: -100px;
	background-color: #640ddd;
}

footer p {
	color: white;
	text-decoration: none;
	padding: 10px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

footer a {
	color: white;
	text-decoration: none;
	text-align: center;
	width: 100%;
}



audio {
	padding: 15px;
	width: 38%;
  box-sizing: border-box;
}

embed {
	width: 650px;
	height: 650px;
  padding:15px;
}
p{
    color:rgb(29, 71, 185)
}

*{
    background-image: url('https://img.freepik.com/free-photo/crinkled-cardboard-texture_23-2147786527.jpg?w=360&t=st=1694614847~exp=1694615447~hmac=347330fea015c078ad0525125ac13035287e2f60706a2afc61a4ecb5f07b9586');
}

h1{
    color: rgb(81, 6, 128);
}
.test {
    opacity: 0.6;
}
h1 {
	color: rgb(32, 97, 187);
}

#banner {
    background-image: url("../resources/images/forest-3622519_1280.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 700px; 
    width: 100%;
  }